:root {
    --key-gap: 0.4rem;
    --button-size: 2rem;
}

* {
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;
}

body {
    padding: 2rem;
}

div {
    background: #000;
    border-radius: 1rem;
    margin: 0 auto;
}

.calculator {
    width: 11rem;
}

.display {
    height: 6rem;
    width: 100%;
}

.display > .value {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4rem 0.8rem 0;
    vertical-align: bottom;
    color: #ffffff;
    text-align: right;
    font-size: 40px;
}

.keys {
    padding: 0.4rem 0.8rem 1.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--key-gap);
    justify-items: center;
}

div.op-wrap {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    background: hsla(0, 0%, 0%, 0);
}

input.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 50%;
    height: var(--button-size);
    width: var(--button-size);
    border: 0;
    transition: background-color 0.5s;
}

.digit {
    background: #333333;
    color: #ffffff;
}

.digit.active {
    background-color: #808080;
}

.digit.hover {
    background-color: #4c4c4c;
}

.special {
    background: #a7a7a7;
}

.special.active {
    background: #e7e7e7;
}

.special.hover {
    background: #c6c6c6;
}

.operator {
    background: #fd9404;
    color: #ffffff;
    transition: background-color 0.5s;
}

.operator.active {
    background-color: #ffd32b;
}

.operator.hover {
    background-color: #fcb214;
}

.toggle:checked + label {
    background: #fff;
    color: #fd9404;
}


#zero {
    border-radius: 2rem;
    grid-column-end: span 2;
    width: 100%;
    text-align: left;
    padding-left: 0.8rem;
}