:root {
    font-size: 1em;

    --key-gap: 0.4em;
    --button-size: 2em;
}

body {
    font-size: 1.625em;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;

    padding: 2em;
}

div {
    background: #000;
    border-radius: 1em;
    margin: 0 auto;
}

.calculator {
    width: 11em;
}

.display > .value {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2em 0.5em 0;
    vertical-align: bottom;
    color: #ffffff;
    text-align: right;
    font-size: 1.538em;
}

.display {
    height: 6em;
    width: 100%;
}

.keys {
    padding: 0.4em 0.8em 1.6em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--key-gap);
    justify-items: center;
}

@media screen and (max-width: 360px) {
    body {
        font-size: 1.23em;
        padding: 0;
        margin: 0;
    }

    .display > .value {
        font-size: 1.563em;
    }

    .calculator {
        margin: 0;
        width: 100%;
    }

    div {
        border-radius: 0;
    }


    .keys {
        padding: 0.8em 0.8em 1.6em;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 1.23em;
        padding: 0;
        margin: 0;
    }

    .display > .value {
        font-size: 1.563em;
    }

    .calculator {
        margin: 0;
        width: 100%;
    }

    div {
        border-radius: 0;
    }

    .keys {
        padding: 0.8em 0.8em 1.6em;
    }
}

@media screen and (min-height: 641px) and (max-height: 800px) {
    :root {
        --key-gap: 0.5em;
    }

    .keys {
        padding: 1em 0.8em 1.85em;
    }
}

@media screen and (min-height: 800px) and (max-height: 900px) {
    :root {
        --key-gap: 0.7em;
    }

    .display > .value {
        padding-top: 3.5em;
        font-size: 2.11em;
    }

    .keys {
        padding: 3em 0.8em 3.57em;
    }
}

@media screen and (max-width: 360px) and (max-height: 600px) {
    * {
        font-size: 28px;
    }

    .display > .value {
        font-size: 43px;
    }

    .keys {
        padding-bottom: 1.9rem;
    }
}

div.op-wrap {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    background: hsla(0, 0%, 0%, 0);
}

input.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 1em;
    border-radius: 50%;
    height: var(--button-size);
    width: var(--button-size);
    border: 0;
    transition: background-color 0.5s;
}

.digit {
    background: #333333;
    color: #ffffff;
}

.digit.active {
    background-color: #808080;
}

.digit.hover {
    background-color: #4c4c4c;
}

.special {
    background: #a7a7a7;
}

.special.active {
    background: #e7e7e7;
}

.special.hover {
    background: #c6c6c6;
}

.operator {
    background: #fd9404;
    color: #ffffff;
    transition: background-color 0.5s;
}

.operator.active {
    background-color: #ffd32b;
}

.operator.hover {
    background-color: #fcb214;
}

.toggle:checked + label {
    background: #fff;
    color: #fd9404;
}


#zero {
    border-radius: 2rem;
    grid-column-end: span 2;
    width: 100%;
    text-align: left;
    padding-left: 0.8rem;
}