:root {
    --key-gap: 0.4rem;
    --button-size: 2rem;
}

* {
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;
}

div {
    background: black;
    width: min-content;
    border-radius: 1rem;
}

.display {
    height: 6rem;
    width: 100%;
    color: white;
    text-align: right;
}

.display > span {
    padding: 1rem;
    vertical-align: bottom;
}

.keys {
    padding: 0.4rem 0.4rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--key-gap);
    justify-items: center;
}

.special {
    background: #a7a7a7;
}

.special:hover {
    background: #bfbfbf;
}

.operator {
    background: #fd9404;
    color: #ffffff;
}

.operator:hover {
    background: #fdaa35;
}

.digit {
    background: #333333;
    color: #ffffff;
}

.digit:hover {
    background: #3c3c3c;
}

button {
    border-radius: 50%;
    height: var(--button-size);
    width: var(--button-size);
    border: 0;
}

span {
    font-size: 48px;
}

#zero {
    border-radius: 2rem;
    grid-column-end: span 2;
    width: 100%;
}