:root {
    --key-gap: 0.4rem;
    --button-size: 2rem;
}

* {
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;
}

body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background: #000;
    border-radius: 1rem;
    margin: 0 auto;
}

.calculator {
    width: 11rem;
}

.display {
    height: 6rem;
    width: 100%;
}

.display > .value {
    direction: rtl;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3rem 0.8rem 1rem;
    vertical-align: bottom;
    color: #ffffff;
    text-align: right;
    font-size: 40px;
}

.keys {
    padding: 0.4rem 0.8rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--key-gap);
    justify-items: center;
    width: 9.4rem;
}

.special {
    background: #a7a7a7;
}

.special:hover {
    background: #bfbfbf;
}

.special:active {
    background: #cfcfcf;
}

.operator {
    background: #fd9404;
    color: #ffffff;
}

.operator:hover {
    background: #fdaa35;
}

.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.toggle:checked + label {
    background: #fff;
    color: #fd9404;
}

label {
    text-align: center;
}

.digit {
    background: #333333;
    color: #ffffff;
}

.digit:hover {
    background: #3c3c3c;
}

.digit:active {
    background: #414141;
}

div.button {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

.button {
    border-radius: 50%;
    height: var(--button-size);
    width: var(--button-size);
    border: 0;
}

#zero {
    border-radius: 2rem;
    grid-column-end: span 2;
    width: 100%;
}